{% extends 'base.html' %}
{% block styles %}
{% endblock %}

{% block title %}
<h5>Django_app</h5>
{% endblock %}

{% block content %}
<h3>todo list</h3>
<div class="mb-3">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
    <input type="text" class="form-control" name="todo" id="todo" >
    <button  type="submit" >送出</button>
    </form>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>狀態</th>
            <th>代辦事項</th>
            <th>編輯</th>
        </tr>
    </thead>
    <tbody>
        <tbody>
            {% for do in todo %}
            <tr>
                <td>
                    <form method="POST" action="{% url 'Django:edit' do.todo_id %}">
                        {% csrf_token %}    
                        <input type="hidden" name="todo_id" value="{{ do.todo_id }}">
                        <input type="checkbox" name="completed" {% if do.completed %}checked{% endif %} onclick="this.form.submit()"> 
                        {% if do.completed %}
                            已完成
                        {% else %}
                            未完成
                        {% endif %}
                        <!-- <input type="checkbox" name="completed" unchecked>未完成 -->
                    </form>
                </td>
                <td>{{ do.todo }}</td>
                <td>
                    <a href="{% url 'Django:delete' do.todo_id %}" class="btn btn-danger" >刪除</a>
                </td>
            </tr>
            {% endfor %}
           
        </tbody>
       
    </tbody>
</table>
{% endblock %}

{% block scripts %}


{% endblock %}